body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}

.formulario {
    background-color: white;
    border: 1px solid #ccc;
    width: 320px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #aaa;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#resultado {
    
    margin-top: 20px;
    background-color: white;
    width: 320px;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: left;
}